*{
    margin: 0;
    padding: 0;
}
body{
    background: rgb(240, 223, 226);
    margin: 100px auto;
    display: flex;
    font-family: "Fraunces", "Montserrat", sans-serif; 
    padding: 20px;   
}
#container{
    background-color: white;
   display: flex;
    width: 50%;
    height: 500px;
    margin: auto auto;
    justify-content: flex-end;
    border-radius: 15px;
   
    
}
#image-perf{
    border-top-left-radius: 15px; 
    border-bottom-left-radius: 15px;
    height:500px; 
    width: 120%;
}
.container-2{
    background-color: white;
    height: 400px;
    width: 30%;
    margin:  auto;
    display: grid;
}
.inner{
    float: right;
    
}
button{
    background: rgb(35, 236, 35);
    border: 0 solid rgb(35, 236, 35);
    border-radius: 10px;
    height: 40px;
    color: white;
}
@media (max-width:1500px){
    #container{
        width: 250%;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 150px auto;
    }
.container-2{
    width: 100%;
    padding: 50px;
    justify-content: flex-start;
    border-radius: 10px;
}
#image-perf{
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0px;
    height: 300px;
    
}
}